@media (max-width: 680px) {
    .container
    {
        width: 100%;
        margin: 0 auto;
        border-radius: none;
    }
    .numbers-stopwatch
    {
        font-size: 100px;
    }
    .buttons-stopwatch
    {
        display: flex;
        flex-direction: column;
    }
    .button-start, .button-stop, .button-reset
    {
        width: 100%;
        min-height: 70px;
    }
    .stopwatch-tutor p
    {
        display: none;
    }
    
}